@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    margin: 0;
}

.editor-container .ql-editor{
   background-color: white;
   width: 8.5in;
   box-shadow: 0px 0px 8px #9b9b9b;
   padding: 1in;
   margin: 1rem;
   min-height: 11in;

}
.ql-container.ql-snow{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.ql-toolbar.ql-snow{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f3f3f3;
}
.save-status{
    position: absolute;
    top: 50%;
    font-size: small;
    color: #505050;
    transform: translateY(-50%);
    right: 2rem;
}